<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bienvenida.css"/> 
  
</head>
</html>

<body>
    <h1 class="titulo">Bienvenido a dash and dot</h1>

    <form method='post' action='/menu' class="botonTamanio" >
        
        <input type="submit" value="INICIAR" class="boton">
    </form> 
</body>
