<!DOCTYPE html>
<html>
<head>
    <style type="text/css">

        
        .titulo{
            font-size: 50px;
            text-align: center;
            font-weight: 200px;
        }

        .boton{
           font-size: 20px;
            background: #5564eb;
            color: #fafbfd
        }

        .boton:hover{
            background: #ffa420;
            color: #fafbfd
        }

        .botonTamanio{
            text-align:center;
            
        }

    </style>
</head>
</html>

<body>
    <h1 class="titulo">Bienvenido a dash and dot</h1>
    <p class = "titulo">Ingresa el numero de autos para jugar 1 o 2</p>
    <form method='post' action='/inicio' class="botonTamanio" >
        <input type='text' name='numeroDeAutos'>
        <input type="submit" value="INICIAR" class="boton">
    </form> 
</body>
