<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/juego.css"/> 
</head>
</html>

<body>
    <div class="principal">

    <main 
    <% if $size.to_i == 5 %>
    class="cuadro5x5"
    <%elsif $size.to_i == 4 %>
    class="cuadro4x4"
    <%elsif $size.to_i == 3 %>
    class="cuadro3x3"
    <%end%>>

        <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>

        <%i = $size.to_i
        while i > 0%>
        <div class="fila">

            <div class="borde">
                <p><%=i%></p>
            </div>

                <%j = $size.to_i
            while j > 0
                j = j - 1%>
            
            <div class="casilla">
            </div>
            <%end%>
        
            <div class="borde">
                <p><%=i%></p>
            </div>
             <%i = i - 1%>
             <%end%>
        </div>


         <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>


    </main>



     <div class="comandos">

        <%if $cars.to_i == 1%>
        <form method='post' action ='/ventanaComandos'>
        <p>Introduzca la posicion inicial (1,2)(3,3)</p>
            <input type='text' name='posicionInicial'>
      
        <p>Introduzca la orientacion (N, E, O, S)</p>
            <input type='text' name='orientacion'>

            <br><br>
            <br>
            <input type='submit' value='Ingresar' class="boton">
        </form>
        <%else%>
       <form method='post' action ='/ventanaComandos'>
        <p>Introduzca la posicion inicial del auto 1</p>
            <input type='text' name='posicionInicial'>
      
        <p>Introduzca la orientacion del auto 1</p>
            <input type='text' name='orientacion'>

        <p>Introduzca la posicion inicial del auto 2</p>
            <input type='text' name='posicionInicial2'>
      
        <p>Introduzca la orientacion del auto 2</p>
            <input type='text' name='orientacion2'>

            <br><br>
            <br>
            <input type='submit' value='Ingresar' class="boton">
        </form>

        <%end%>
    </div>


    </div>

   
</body>
