<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/bienvenida.css"/> 
</head>
</html>

<body>
   
    
    
    <form method='post' action='/datosIniciales' class='botonTamanio'>

    <p for="cars" class = "titulo">Ingresa el numero de autos para jugar 1 o 2</p>
    <select name="cars" value="cars" id="cars">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>

    <p for="size" class = "titulo">Ingresa el tamanio del mapa (3)(4)(5)</p>
    <select  name="size" value="size" id="size">
        <option value="3">3x3</option>
        <option value="4">4x4</option>
        <option value="5">5x5</option>

    </select>

    <br><br>
    <input type="submit" value="A JUGAR!" class="boton">
    </form>


</body>
