<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .cuadro{
            width: 672px;
            height: 672px;
            background-color: #fa953b;
            margin-left: 40px;
            margin-top: 20px;

        }

        .comandos{
            float: right;
            margin-top: 210px;
            margin-right: 150px;

        }


        
        .casilla{
            width: 90px;
            height: 90px;
            border-style: solid;
            border-color: #fafbfd; 
            float: left;
            
        }

        .borde{
            width: 90px;
            height: 90px;
            border-style: solid;
            border-color: #fafbfd; 
            float: left;
            background-color: #4193fb;
        }
        div.borde p{
            margin-top: 30px;
            font-size: 25px;
            color: #fafbfd;
            text-align: center;
        }
    </style>
</head>
</html>

<body>
    <div class="principal">

    <main class="cuadro">
        <div class="fila">
            <div class="borde">
            </div>

            <div class="borde">
                <p>5</p>
            </div>

            <div class="borde">
                <p>4</p>
            </div>

            <div class="borde">
                <p>3</p>
            </div>

            <div class="borde">
                <p>2</p>
            </div>

            <div class="borde">
                <p>1</p>
            </div>

            <div class="borde">
            </div>
        </div>

        <div class="fila">
            <div class="borde">
                <p>5</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>5</p>
            </div>
        </div>

         <div class="fila">

            <div class="borde">
                <p>4</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>4</p>
            </div>


        </div>

        <div class="fila">
            <div class="borde">
                <p>3</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>3</p>
            </div>
        </div>

        <div class="fila">

            <div class="borde">
                <p>2</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>2</p>
            </div>


        </div>

        <div class="fila">

            <div class="borde">
                <p>1</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>1</p>
            </div>
        </div>

        <div class="fila">

            <div class="borde">
            </div>

            <div class="borde">
                <p>5</p>
            </div>

            <div class="borde">
                <p>4</p>
            </div>

            <div class="borde">
                <p>3</p>
            </div>

            <div class="borde">
                <p>2</p>
            </div>

            <div class="borde">
                <p>1</p>
            </div>

            <div class="borde">
               
            </div>

        </div>


    </main>



    <div class="comandos">

        <p>La posicion final es: </p> <%=@%>

    </div>


    </div>

   
</body>
