
<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/juego.css"/> 
</head>
</html>

<body>
   
     <main 
    <% if $size.to_i == 5 %>
    class="cuadro5x5"
    <%elsif $size.to_i == 4 %>
    class="cuadro4x4"
    <%elsif $size.to_i == 3 %>
    class="cuadro3x3"
    <%end%>>

        <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>

        <%i = $size.to_i
        while i > 0%>
        <div class="fila">

            <div class="borde">
                <p><%=i%></p>
            </div>

                <%j = $size.to_i
            while j > 0%>
                
            
            <div class="casilla">
                <%if @posicionInicial[0] ==  j and @posicionInicial[1] ==  i%>

                <%if $orientacionInicial == "N"%>
                <img src="images/Nredcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%elsif $orientacionInicial == "E"%>
                <img src="images/Eredcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif $orientacionInicial == "O"%>
                <img src="images/Oredcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif $orientacionInicial == "S"%>
                <img src="images/Sredcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%end%>
        
                <%end%>

                <%if $cars.to_i == 2 %>
                <%if @posicionInicial2[0] ==  j and @posicionInicial2[1] ==  i%>

                <%if $orientacionInicial2 == "N"%>
                <img src="images/Nvioletcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%elsif $orientacionInicial2 == "E"%>
                <img src="images/Evioletcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif $orientacionInicial2 == "O"%>
                <img src="images/Ovioletcar.png" alt="Flowers in Chania" class="carHorizontal"> 
                <%elsif $orientacionInicial2 == "S"%>
                <img src="images/Svioletcar.png" alt="Flowers in Chania" class="carVertical"> 
                <%end%>
                <%end%>
        
                <%end%>

            </div>
            <%j = j - 1%>
            <%end%>
        
            <div class="borde">
                <p><%=i%></p>
            </div>
             <%i = i - 1%>
             <%end%>
        </div>


         <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>


    </main> <div class="principal">




     <div class="comandos">

        <%if $cars.to_i == 1%>
        <form method='post' action ='/resultado'>
      
        <p>Introduzca los movimientos que desea realizar (ADAIA)</p>
            <input type='text' name='comandos'>

            <br><br>
            <br>
            <input type='submit' value='Mover!' class="boton">
        </form>
        <%else%>
            <form method='post' action ='/resultado'>
      
            <p>Introduzca los movimientos que desea realizar al auto 1</p>
            <input type='text' name='comandos'>

            <p>Introduzca los movimientos que desea realizar al auto 2</p>
            <input type='text' name='comandos2'>
            <br><br>
            <br>
            <input type='submit' value='Mover!' class="boton">
        </form>
        <%end%>
    </div>


    </div>

   
</body>
