<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        .cuadro{
            width: 672px;
            height: 672px;
            background-color: #fa953b;
            margin-left: 40px;
            margin-top: 20px;
            float: left;
        }

        .comandos{
            float: right;
            margin-top: 250px;
            margin-right: 90px;


        }
        .casilla{
            width: 90px;
            height: 90px;
            border-style: solid;
            border-color: #fafbfd; 
            float: left;
            
        }

        .borde{
            width: 90px;
            height: 90px;
            border-style: solid;
            border-color: #fafbfd; 
            float: left;
            background-color: #4193fb;
        }
        div.borde p{
            margin-top: 30px;
            font-size: 25px;
            color: #fafbfd;
            text-align: center;
        }

        .boton{
           font-size: 20px;
            background: #5564eb;
            color: #fafbfd
        }

        .boton:hover{
            background: #ffa420;
            color: #fafbfd
        }

    </style>
</head>
</html>

<body>
    <div class="principal">

    <main class="cuadro">
        <div class="fila">
            <div class="borde">
            </div>

            <div class="borde">
                <p>5</p>
            </div>

            <div class="borde">
                <p>4</p>
            </div>

            <div class="borde">
                <p>3</p>
            </div>

            <div class="borde">
                <p>2</p>
            </div>

            <div class="borde">
                <p>1</p>
            </div>

            <div class="borde">
            </div>
        </div>

        <div class="fila">
            <div class="borde">
                <p>5</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>5</p>
            </div>
        </div>

         <div class="fila">

            <div class="borde">
                <p>4</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>4</p>
            </div>


        </div>

        <div class="fila">
            <div class="borde">
                <p>3</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>3</p>
            </div>
        </div>

        <div class="fila">

            <div class="borde">
                <p>2</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>2</p>
            </div>


        </div>

        <div class="fila">

            <div class="borde">
                <p>1</p>
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="casilla">
            </div>

            <div class="borde">
                <p>1</p>
            </div>
        </div>

        <div class="fila">

            <div class="borde">
            </div>

            <div class="borde">
                <p>5</p>
            </div>

            <div class="borde">
                <p>4</p>
            </div>

            <div class="borde">
                <p>3</p>
            </div>

            <div class="borde">
                <p>2</p>
            </div>

            <div class="borde">
                <p>1</p>
            </div>

            <div class="borde">
               
            </div>

        </div>


    </main>



     <div class="comandos">


        <form method='post' action ='/resultado'>
      
        <p>Introduzca los movimientos que desea realizar (ADAIA)</p>
            <input type='text' name='comandos'>

            <br><br>
            <br>
            <input type='submit' value='Mover!' class="boton">
        </form>
    </div>


    </div>

   
</body>
