
<!DOCTYPE html>
<html>
<head>
      <link rel="stylesheet" type="text/css" href="css/juego.css"/> 
</head>
</html>

<body>
   
     <main 
    <% if $size.to_i == 5 %>
    class="cuadro5x5"
    <%elsif $size.to_i == 4 %>
    class="cuadro4x4"
    <%elsif $size.to_i == 3 %>
    class="cuadro3x3"
    <%end%>>

        <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>

        <%i = $size.to_i
        while i > 0%>
        <div class="fila">

            <div class="borde">
                <p><%=i%></p>
            </div>

                <%j = $size.to_i
            while j > 0%>
                
            
            <div class="casilla">
                <%if @posicionInicial[0] ==  j and @posicionInicial[1] ==  i%>
                <img src="images/redcar.png" alt="Flowers in Chania" class="car"> 
                
                <%end%>
            </div>
            <%j = j - 1%>
            <%end%>
        
            <div class="borde">
                <p><%=i%></p>
            </div>
             <%i = i - 1%>
             <%end%>
        </div>


         <div class="fila">
        <div class="borde">
            </div>
        <%i = $size.to_i
        while i > 0%>
         
            <div class="borde">
                <p><%=i%></p>
                <%i = i -1%>
            </div>
        <%end%>

            <div class="borde">
            </div>
        </div>


    </main> <div class="principal">




     <div class="comandos">


        <form method='post' action ='/resultado'>
      
        <p>Introduzca los movimientos que desea realizar (ADAIA)</p>
            <input type='text' name='comandos'>

            <br><br>
            <br>
            <input type='submit' value='Mover!' class="boton">
        </form>
    </div>


    </div>

   
</body>
